<html>
<head>
	<title>Vue Serial #</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>


	<div class="container-fluid" id="root">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4">                    
                    <h3 class="m-1-0">Filter your results</h3>
      
					<div class="col-xs-12">
						<label>Refine Search</label>
						<input type="text" v-model="refineSearch">
					</div>
					
					
					<!-- Filters -->
					<div class="col-xs-12" v-for="filter in filters">
              
					  	<label :for="filter.category">
									<input type="radio" :value="filter.category" v-model="groupFilter">
									{{filter.category}}
							</label>
					</div>

					<!-- Reset filters -->
					<div class="col-xs-12">
						<button class="btn btn-primary" v-if="groupFilter != 'All'" @click="groupFilter = 'All'">Reset filters</button>
					</div>
				</div>
				
				<div class="col-xs-8">
				    <!-- Switch between Tile and List layouts -->
				    <div class="col-xs-12 d-flex d-flex-justify-end m-1-0">
				      <button class="btn btn-default mr-1" @click="makeList(false)">Tile</button>
				      <button class="btn btn-primary mr-1" @click="makeList(true)">List</button>
						</div>
						

						<span class="col-xs-12 paginator-items-count" v-if="$refs.paginator">
							Viewing {{$refs.paginator.pageItemsCount}} results
						</span>
						

				    <!-- Pagination -->
				    <paginate ref="paginator" :key="refineSearch" name="partsMultipleFilters" :per="itemsToShow" :list="partsMultipleFilters" class="col-xs-12 paginate-list d-flex d-flex-wrap">
				    <!-- Parts results -->
					
						<li class="part-result" :class="{'col-xs-12' : isList , 'col-xs-3' : !isList }" v-for="part in paginated('partsMultipleFilters')">
						    <div :class="{'col-xs-2' : isList , 'col-xs-12' : !isList }">
						      <img :src="part.image" class="img-responsive">
						    </div>
						    
						    <div :class="{'col-xs-6' : isList , 'col-xs-12' : !isList }">
                              <p class="part-number">{{part.number}}</p>
						      <p class="part-name">{{part.name}}</p>
						      <p v-if="!isList" class="part-price">{{part.price | currency}}</p>
						      <div v-if="isList" class="d-flex">
						        <p v-if="parseInt(part.stock) > 0" class="part-stock">
						          <i class="fa fa-check"></i> {{part.stock}} available
						        </p>
						      </div>
						    </div>
						    
						    <div :class="{'col-xs-4' : isList , 'col-xs-12' : !isList }">
									<div class="col-xs-12 d-flex d-flex-justify-end">
										<p v-if="isList" class="part-price">{{part.price | currency}}</p>
									</div>
						      <div class="col-xs-3 no-padding">
											<button class="btn btn-default remove-from-fav" v-if="part.isFavorite == true" @click="removeFromFav(part)">
													<i class="fa fa-heart"></i>
											</button>
											<button class="btn btn-default add-to-favorite" v-else @click="addToFav(part)">
													<i class="fa fa-heart-o"></i>
											</button> 
						      </div>
									
									
									<!-- B2C Add To Cart Scenario -->
						      <div class="col-xs-9" :class="{'d-flex d-flex-justify-end' : isList}">
										<input type="number" class="form-control w-75" 
											:value="part._quantity" 
											:min="part._quantity" 
											:max="part.stock"
											:step="part._quantity"
											@change="quantityHandler(part , $event)"/>
						        <button class="btn btn-default add-to-cart" v-if="parseInt(part.stock) > 0">
						          Add To Cart
						        </button>
						        <p v-else>Out of stock</p>
						      </div>
						    </div>
						</li>
					
					</paginate>
					<!-- Pagination links -->
					<paginate-links class="col-xs-12 d-flex d-flex-justify-space-even" for="partsMultipleFilters" :show-step-links="true" :step-links="{next: '>>',prev: '<<'}"></paginate-links>
				</div>
			</div>
		</div>
	</div>
	
		<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/vue-paginate.js"></script>
    <script src="js/main.js"></script>
</body>
</html>